@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

body {
  @apply text-white bg-black;
}

.head-tag {
  font-family: "Dancing Script", cursive;
}

.bg-prof {
  background-image: url("./assets/prof.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
