@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  @apply text-white bg-zinc-900;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.head-tag {
  font-family: "Dancing Script", cursive;
}

.bg-prof {
  /* background-image: url("./assets/prof.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  @apply grayscale;
}

.particles-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.particles-container canvas {
  transition: 0.2s all ease-in-out;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.slider-main {
  display: flex !important;
  gap: 2rem !important;
  padding: 1rem 10rem;
  align-items: center;
}

@media only screen and (max-width: 769px) {
  .slider-main {
    padding: 1rem 4rem;
    flex-direction: column;
    text-align: center;
  }
}

.medium-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.semi-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.btn {
  @apply py-2 px-6 rounded-full uppercase tracking-wider duration-300 ease-in-out;
}

.transition-top {
  @apply top-0;
  transition: top ease-in 0.3s;
}

.transition-top:hover {
  top: -8px;
}

.navbar-colored {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  @apply text-zinc-900;
}

.navbar-colored button {
  padding-bottom: 1px;
}

.navbar-colored button:hover {
  color: darksalmon;
  transition: color ease-in-out 0.3s;
  @apply border-zinc-700;
}

.error {
  border-width: 2.5px;
  border-color: rgb(213, 29, 29);
}

.dot-elastic {
  margin-left: 8px;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #fff;
  color: #fff;
  animation: dotElastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -8px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #fff;
  color: #fff;
  animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
  left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  animation: dotElasticAfter 1s infinite linear;
  @apply bg-white;
  @apply text-white;
}

.loading_wrapper_black .dot-elastic,
.loading_wrapper_black .dot-elastic::before,
.loading_wrapper_black .dot-elastic::after {
  @apply bg-white;
  @apply text-white;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.nav-mobile-links-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  position: absolute;
  z-index: 9;
  top: 3.75rem;
  background-color: #fff;
  width: 100%;
  left: 0;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.nav-mobile-links {
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem;
  padding-left: 1.75rem !important;
  padding-top: 0.5rem !important;
  flex-direction: column;
}
.nav-mobile-links a {
  color: #343a40;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
}

.btn-0:hover {
  animation-name: jump;
  animation-duration: 0.5s;
  animation-delay: calc(var(--i) * 0.075s);
}

@keyframes jump {
  50% {
    transform: translateY(-12.5px);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-1:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-delay: calc(var(--i) * 0.075s);
}

@keyframes rotate {
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.btn-2:hover {
  animation-name: wind;
  animation-duration: 0.8s;
  animation-delay: calc(var(--i) * 0.075s);
}

@keyframes wind {
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(40px);
  }
}

.btn-3:hover {
  animation-name: rotate-redux;
  animation-duration: 0.8s;
  animation-delay: calc(var(--i) * 0.075s);
}

@keyframes rotate-redux {
  50% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.btn-6:hover {
  animation-name: zoom;
  animation-duration: 0.5s;
  animation-delay: calc(var(--i) * 0.075s);
}

@keyframes zoom {
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
